body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14pt;
  font-weight: 300;
}

h1, h2, h3, h4 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

.title2 p {
  color: white;
  font-size: 10pt;
}

.star-wars {
  display: flex;
  justify-content: center;
  position: relative;
  height: 800px;
  color: white !important;
  font-family: 'Pathway Gothic One', sans-serif !important;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 400px;
  text-align: center !important;
}

.crawl {
  position: relative;
  top: 9999px;
  transform-origin: 50% 100%;
  animation: crawl 60s linear;
}

.crawl > .title {
  font-size: 90%;
  text-align: center;
}

.crawl > .title h1 {
  margin: 0 0 100px;
  text-transform: uppercase;
}

@keyframes crawl {
  0% {
    top: 200;
    transform: rotateX(20deg)  translateZ(0);
  }
  100% {
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}

/* We're calling this animation "crawl" */
@keyframes crawl {
  0% {
    /* The element starts below the screen */
    top: 0;
    /* Rotate the text 20 degrees but keep it close to the viewer */
    transform: rotateX(20deg) translateZ(0);
  }
  100% {
    /* This is a magic number, but using a big one to make sure the text is fully off the screen at the end */
    top: -6000px;
    /* Slightly increasing the rotation at the end and moving the text far away from the viewer */
    transform: rotateX(25deg) translateZ(-2500px);
  }
}

.intro {
  /* Force the body to fill the entire screen */
  width: 100%;
  height: 100%;
  /* Hide elements that flow outside the viewable space */
  overflow: hidden;
  /* Black background for the screen */
  background-image: url("images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.right {
  margin-right: 50px;
  margin-left: 25px;
}

.left {
  margin-left: 50px;
  margin-right: 25px;
}

#page4 {
  background-image: url("images/coverFlipped.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.body section, .map section {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
}

.map section {
  width: 90%;
  margin: auto;
  flex-direction: column;
}

.map image {
  margin: auto;
}

.body article {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title2 article {
    margin: auto;
    font-size: 16pt;
    /* background: rgba(245, 245, 245, .35); */
}

.title2 article {
  /* background: rgba(245, 245, 245, 0); */
}

article {
  /* background-color: #CAD2C5; */
  /* background: rgba(245, 245, 245, 1); */
  text-align: left;
  border-radius: 25px;
  width: 50%;
  margin-bottom: 5px;
}

#page4 article {
  /* background: rgba(245, 245, 245, 1); */
  width: 90%;
}

h2, h3 {
  font-size: 24pt;
  /* -webkit-text-stroke-width: 1.5px; */
}

.title2 h1, .title2 h2 {
  text-align: center;
  color: white;
  /* -webkit-text-stroke-color: #2F3E46; */
}

.title2 h1 {
  font-size: 48pt;
  margin-bottom: 25px;
  margin-top: 10px;
	/* -webkit-text-stroke-width: 2.5px; */
}

#fp-nav ul li a span {
     background: #84A98C !important;
   }

iframe {
  margin: auto;
  margin-bottom: 10px;
}

img {
  height: auto;
  width: 700px;
}

.tall {
    height: 600px;
    width: auto;
}

#kitty {
  width: 500px;
  height: auto;
}

#sadForest {
  width: 700px;
  height: auto;
}

ol {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: auto;
  text-align: left;
}

.end {
  background-image: url("images/deforestation.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.center {
  text-align: center;
}

#brazil {
  height: 400px;
  width: auto;
}

.twofive {
  width: 25%;
}

.endangered {
  height: 100px;
  width: auto;
  margin-bottom: -50px;
}

img {
  margin-left: auto;
  margin-right: auto;
}

.references {
  font-size: 10pt;
}

.team img {
  width: 150px;
  height: 150px;
}

.margin {
  margin-top: -15%;
  margin-bottom: 10%;
}

/* * { padding: 0; margin: 0; }
 body {
  margin: 0 auto 0 auto;
  padding: 0;
  max-width: 1200px;
  background-color: #a4c1c3;
  font-family: "Avenir", "Avenir Next", Helvetica Neue, Arial;
  font-size: 0.95em;
}
 a, a:visited { text-decoration: none; color: #7533f4; }
a:hover { text-decoration: underline; color: #f4b014; }
 h1, h2, h3, h4, h5 {
  color: #396746;
  background-color: inherit;
  font-weight: normal;
  padding: 0 0 5px 0;
  margin: 15px 0 0 0;
  border: none;
  clear: right;
}
h1 { font-size: 24pt; margin:  5px 0 10px 0; line-height: 28px; }
h2 { font-size: 14pt; margin: 30px 0 15px 0; letter-spacing: 0.01em; border-bottom: 1px solid #4e824f;  line-height: 20px;}
h3 { font-size: 13pt; }
h4 { font-size: 12pt; }
h5 { font-size: 11pt; }
p { margin: 0 0 10px 0; }
 .content {
  margin: 0;
  padding: 15px 20px;
  background-color: #ffffff;
}
 .title, .title h1, .title a {
  color: #315545;
  font-size: 24pt;
  margin-bottom: 20px;
  margin-top: 5px;
}
 .footer {
  border-top: 1px solid #4e824f;
  margin-top: 30px;
  padding-top: 4px;
  text-align: right;
  font-size: 12px;
}
.footer a {
  color: #21346B;
}
.footer a:hover {
  color: #ce3333;
} */
